---
import Layout from "@src/layouts/Layout.astro";
import Container from "@components/Containers/Container.astro";
import MainMenu from "@src/components/Menus/MainMenuPages.astro";
import mainMenuJson from "@src/data/main-menu.json";
import LogoMinCultura from "@assets/img/logo-mincultura.png";
import LogoSantaMarta from "@assets/img/logo-santa-marta.png";
import ImgMain from "@assets/img/kogui-main.jpg";
import Sitio from "@assets/img/sitio.png";
import Expresiones from "@assets/img/expresiones.png";
---

<Layout>
	<div class="bg-custom-sand h-full">
		<Container class="bg-custom-pink-dark full">
			<a href="/" class="flex items-center gap-3 py-1">
				<img src={LogoMinCultura.src} class="logo" />
				<div class="border-r-1 border-white h-full"></div>
				<img src={LogoSantaMarta.src} class="logo" />
			</a>
		</Container>
		<MainMenu items={mainMenuJson.items} class="main-menu flex z-20" />
		<Container class="pt-3">
			<img class="rounded-2xl w-full mb-2" src={ImgMain.src} alt="" />
			<p class="uppercase text-sm ml-2">Pie de foto, fulanito x fulanito</p>
			<h1 class="text-7xl mx-auto mb-8 w-max text-custom-gray">
				<span class="font-black">Kogui</span>
				<span class="font-light">Malezhi</span>
			</h1>
			<h2 class="uppercase mx-auto w-max font-black text-custom-gray mb-1">
				Documental
			</h2>
			<div>&nbsp</div>
			<iframe
				class="video rounded-2xl mb-4 block"
				src="https://www.youtube.com/embed/N_TjNpPpidI?si=AheHJJ6QfAQN7Rwf"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
			<p class="w-column w-full mx-auto mb-6">
				Acsi adipiscing brevitas caecus iusto praesent rusticus torqueo ulciscor
				volutpat. Aptent capto gilvus immitto neo quidem quis roto. Abdo augue
				genitus imputo metuo modo roto saepius.
			</p>

			<div
				class="grid grid-cols-1 md:grid-cols-2 gap-5 w-column mx-auto py-3 border-y-1 border-custom-gray mb-6"
			>
				<div class="">
					<h2 class="uppercase font-black text-custom-gray mb-0">
						Relato sonoro
					</h2>
					<p class="font-normal text-custom-gray mb-3">En idioma Kogui</p>
					<p>
						Acsi adipiscing brevitas caecus iusto praesent rusticus torqueo
						ulciscor volutpat. Aptent capto gilvus immitto neo quidem quis roto.
						Abdo augue genitus imputo metuo modo roto saepius.
					</p>
				</div>
				<div class="flex items-center">
					<iframe
						class="video rounded-2xl mb-0"
						src="https://www.youtube.com/embed/N_TjNpPpidI?si=AheHJJ6QfAQN7Rwf"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen></iframe>
				</div>
			</div>

			<h2 class="uppercase mx-auto w-max font-black text-custom-gray mb-5">
				Cápsulas
			</h2>

			<div class="grid grid-cols-1 md:grid-cols-3 gap-5 mx-auto mb-10">
				<div>
					<iframe
						class="video rounded-2xl mb-2"
						src="https://www.youtube.com/embed/N_TjNpPpidI?si=AheHJJ6QfAQN7Rwf"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen></iframe>
					<p class="text-center">rusticus torqueo ulciscor volutpat</p>
				</div>
				<div>
					<iframe
						class="video rounded-2xl mb-2"
						src="https://www.youtube.com/embed/N_TjNpPpidI?si=AheHJJ6QfAQN7Rwf"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen></iframe>
					<p class="text-center">rusticus torqueo ulciscor volutpat</p>
				</div>
				<div>
					<iframe
						class="video rounded-2xl mb-2"
						src="https://www.youtube.com/embed/N_TjNpPpidI?si=AheHJJ6QfAQN7Rwf"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen></iframe>
					<p class="text-center">rusticus torqueo ulciscor volutpat</p>
				</div>
			</div>

			<div class="w-column mx-auto py-3 border-y-1 border-custom-gray mb-10">
				<h2 class="uppercase mx-auto w-max font-black text-custom-gray mb-5">
					Población
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<div class="">
						<div
							class="flex gap-2 pb-2 border-b-1 items-center border-custom-gray border-dashed"
						>
							<p class="text-5xl font-black flex-1">7.000</p>
							<p class="text-sm flex-1">capto gilvus immitto neo quidem quis</p>
						</div>
						<div
							class="flex gap-2 pt-2 pb-2 border-b-1 items-center border-custom-gray border-dashed"
						>
							<p class="text-5xl font-black flex-1">6.300</p>
							<p class="text-sm flex-1">capto gilvus immitto neo quidem quis</p>
						</div>
						<div class="pt-2 flex gap-2 items-center">
							<p class="text-5xl font-black flex-1 text-right">12</p>
							<p class="text-sm flex-1">capto gilvus immitto neo quidem quis</p>
						</div>
					</div>
					<div class="">
						<p>
							Acsi adipiscing brevitas caecus iusto praesent rusticus torqueo
							ulciscor volutpat. Aptent capto gilvus immitto neo quidem quis
							roto. Abdo augue genitus imputo metuo modo roto saepius. Acsi
							adipiscing brevitas caecus iusto praesent rusticus torqueo
							ulciscor volutpat. Aptent capto gilvus immitto neo quidem quis
							roto.
						</p>
					</div>
				</div>
			</div>

			<h2 class="uppercase mx-auto w-max font-black text-custom-gray mb-4">
				Expresiónes artísticas
			</h2>
			<img src={Expresiones.src} alt="" class="mb-8" />

			<h2 class="uppercase mx-auto w-max font-black text-custom-gray mb-5">
				Sitios sagrados
			</h2>

			<p class="w-column mx-auto mb-5">
				Acsi adipiscing brevitas caecus iusto praesent rusticus torqueo ulciscor
				volutpat. Aptent capto gilvus immitto neo quidem quis roto. Abdo augue
				genitus imputo metuo modo roto saepius.
			</p>

			<div class="grid grid-cols-1 md:grid-cols-3 gap-5 mx-auto mb-10">
				<a href="/" class="rounded-2xl overflow-hidden">
					<img class="w-full" src={Sitio.src} alt="" />
					<h3
						class="bg-custom-pink text-white flex items-center font-black p-4"
					>
						Shibdakexa Ezuama
					</h3>
				</a>
				<a href="/" class="rounded-2xl overflow-hidden">
					<img class="w-full" src={Sitio.src} alt="" />
					<h3
						class="bg-custom-pink text-white flex items-center font-black p-4"
					>
						Shibdakexa Ezuama
					</h3>
				</a>
				<a href="/" class="rounded-2xl overflow-hidden">
					<img class="w-full" src={Sitio.src} alt="" />
					<h3
						class="bg-custom-pink text-white flex items-center font-black p-4"
					>
						Shibdakexa Ezuama
					</h3>
				</a>
			</div>

			<div>&nbsp</div>
		</Container>
		<Container class="full bg-custom-pink p-6">
			<div>
				<a href="/" class="flex items-center gap-3 py-1">
					<img src={LogoMinCultura.src} class="" />
					<div class="border-r-1 border-white h-full"></div>

					<p class="text-white max-w-[200px]">
						Ministerio de las Culturas las Artes y los Saberes
					</p>
				</a>
			</div>
		</Container>
	</div>
</Layout>

<style>
	.logo {
		height: 40px;
	}
	.video {
		aspect-ratio: 6/3;
		width: 100%;
	}
	.w-column {
		max-width: 680px;
	}
</style>
