---
//
import Thumbnail from "@components/Mapa/Thumbnail.astro";
import Menu from "@components/Menus/Menu.astro";

//
import mainMenuJson from "@src/data/main-menu.json";

//
import bgObject from "@assets/img/fondo.jpg";

//
import bg_layer_1 from "@assets/img/layer-1.webp";
import bg_layer_2 from "@assets/img/layer-2.webp";
import bg_layer_3 from "@assets/img/layer-3.webp";
import bg_layer_4 from "@assets/img/layer-4.webp";
import bg_layer_5 from "@assets/img/layer-5.webp";
import bg_layer_6 from "@assets/img/layer-6.webp";
import bg_layer_7 from "@assets/img/layer-7.webp";
import bg_layer_8 from "@assets/img/layer-8.webp";
import bg_layer_9 from "@assets/img/layer-9.webp";

//
import thumb_arhuacos from "@assets/img/thumb-arhuacos.png";
import thumb_ette from "@assets/img/thumb-ette.png";
import thumb_kankuamo from "@assets/img/thumb-kankuamo.png";
import thumb_kogui from "@assets/img/thumb-kogui.png";
import thumb_taganga from "@assets/img/thumb-taganga.png";
import thumb_wiwa from "@assets/img/thumb-wiwa.png";
import thumb_wayuu from "@assets/img/thumb-wayuu.png";

const bg = `url(${bgObject.src})`;

const layerImports = [
	bg_layer_1,
	bg_layer_2,
	bg_layer_3,
	bg_layer_4,
	bg_layer_5,
	bg_layer_6,
	bg_layer_7,
	bg_layer_8,
	bg_layer_9,
];

const styleString = layerImports
	.map((layerObject, index) => {
		return `--bg-layer-${index + 1}-url: url(${layerObject.src});`;
	})
	.join(" ");

const endUrl =
	import.meta.env.BUILD_FORMAT === "directory" ? "/index.html" : "";

const { class: className } = Astro.props;
---

<div class={`wrap-scene ${Astro.props.class || ""}`}>
	<div style={styleString} class="scene" data-relative-input="true" id="scene">
		<div class="layer layer-9" data-depth="0.1"></div>
		<div class="layer layer-7" data-depth="0.2"></div>
		<div class="layer layer-8" data-depth="0.3"></div>
		<div class="layer layer-6" data-depth="0.4"></div>
		<div class="layer layer-5" data-depth="0.5">
			<Thumbnail
				name="Wiwa\nGotsezhy"
				img={thumb_wiwa.src}
				class="wiwa"
				url={`wiwa-gotsezhy` + endUrl}
			/>
			<Thumbnail
				name="Kogui\nMalezhi"
				img={thumb_kogui.src}
				class="kogui"
				url={`kogui-malezhi` + endUrl}
			/>
			<Thumbnail
				name="Ette Ennaka\nNara Kajmanta"
				img={thumb_ette.src}
				class="ette"
				url={`ette-ennaka-nara-kajmanta` + endUrl}
			/>
		</div>
		<div class="layer layer-4" data-depth="0.8">
			<Thumbnail
				name="Kankuamo Atanquez"
				img={thumb_kankuamo.src}
				class="kankuamo"
				url={`kankuamo-atanquez` + endUrl}
			/>
			<Thumbnail
				name="Arhuacos Katanzama"
				img={thumb_arhuacos.src}
				class="arhuacos"
				url={`arhuacos-katanzama` + endUrl}
			/>
			<Thumbnail
				name="Taganga\nSanta Marta"
				img={thumb_taganga.src}
				class="taganga"
				url={`taganga-santa-marta` + endUrl}
			/>
			<Thumbnail
				name="Wayuu\nSanta Marta"
				img={thumb_wayuu.src}
				class="wayuu"
				url={`wayuu-santa-marta` + endUrl}
			/>
		</div>
		<div class="layer layer-3" data-depth="1"></div>
		<div class="layer layer-2" data-depth="1.2"></div>
		<div class="layer layer-1" data-depth="1.3"></div>
	</div>
</div>

<style define:vars={{ bg }} is:global>
	.wrap-scene {
		max-width: 100vw;
		max-height: 100vh;
		overflow: hidden;
		background-image: var(--bg);
		background-position: center center;
		background-size: cover;
		will-change: transform;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	.scene {
		--offset-x: 0.2;
		--offset-y: 0.05;
		position: relative;
		z-index: 0;
		width: calc(100vw + (120vw * var(--offset-x)));
		left: calc(-100vw * var(--offset-x));
		bottom: calc(-100vw * var(--offset-y));
		height: 100vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;

		@media (width < 1024px) {
			height: 110vh;
		}

		/* border: 3px solid fuchsia; */
	}

	.layer {
		position: relative;
		display: block;
		left: 0px;
		top: 0px;
		transform: translate3d(0px, 0px, 0px);
		transform-style: preserve-3d;
		backface-visibility: hidden;
		/* background-repeat: no-repeat; */

		position: absolute;
		width: 110%;
		height: 110%;
		left: -5%;
		top: -5%;

		will-change: transform;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		/* Forzar un nuevo contexto de apilamiento */
		isolation: isolate;

		.thumbnail {
			@media (width < 768px) {
				display: none;
			}
		}
	}

	@supports (-webkit-appearance: none) {
		.scene,
		.layer {
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-font-smoothing: antialiased;
			-webkit-backface-visibility: hidden;
		}

		.wrap-scene {
			overflow: hidden;
			-webkit-transform: translateZ(0);
		}
	}

	.layer-1 {
		background-image: var(--bg-layer-1-url);
		background-position: bottom -7vh left 30vw;
		background-repeat: no-repeat;
		background-size: 60vh auto;
		/* border: 2px solid tomato; */

		@media (width < 768px) {
			background-size: 30vh auto;
		}
	}

	.layer-2 {
		background-image: var(--bg-layer-2-url);
		background-size: clamp(10vh, 60vw, 60vh) auto;
		background-position: bottom 0vh right;
		background-repeat: no-repeat;
		/* border: 2px solid gold; */

		@media (width < 768px) {
			background-size: 30vh auto;
		}
	}

	.layer-3 {
		background-image: var(--bg-layer-3-url);
		background-position: bottom 0 center;
		background-size: auto;
		background-repeat: no-repeat;
		/* border: 2px solid gold; */

		@media (width < 768px) {
			background-position: bottom 0vh center;
		}
	}

	.layer-4 {
		background-image: var(--bg-layer-4-url);
		background-position: bottom 6vh center;
		background-size: auto auto;
		background-repeat: no-repeat;
		gap: 5vw;
		padding-left: 20vh;
		display: flex !important;
		justify-content: center;
		align-items: center;
	}

	.layer-5 {
		background-image: var(--bg-layer-5-url);
		background-position: bottom 2vh center;
		background-size: auto;
		background-repeat: no-repeat;
		padding-left: 5vw;
		display: flex !important;
		justify-content: center;
		align-items: center;
		gap: 5vw;
	}

	.layer-6 {
		background-image: var(--bg-layer-6-url);
		background-position: bottom 4vh center;
		background-size: auto;
		background-repeat: no-repeat;
	}

	.layer-7 {
		background-image: var(--bg-layer-7-url);
		background-position: bottom -20vh center;
		background-size: auto;
		background-repeat: no-repeat;
		/* border: 2px solid gold; */
	}

	.layer-8 {
		background-image: var(--bg-layer-8-url);
		background-position: top 0vh left 14vw;
		background-size: auto 81vh;
		background-repeat: no-repeat;
		/* border: 2px solid lime; */
	}

	.layer-9 {
		background-image: var(--bg-layer-9-url);
		background-position: top 10vh right 17vw;
		background-size: auto 30vh;
		background-repeat: no-repeat;
	}

	.wrap-scene {
		.wiwa {
			--size: 0.9 !important;
			top: -7vh;
		}

		.kogui {
			--size: 0.9 !important;
			top: -8vh;
		}

		.ette {
			--size: 0.9 !important;
			top: -6vh;
		}

		.kankuamo {
			top: 10vh;
		}
		.arhuacos {
			top: 10vh;
		}
		.taganga {
			top: 15vh;
		}
		.wayuu {
			top: 15vh;
		}
	}
</style>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"
></script>

<script is:inline>
	document.addEventListener("DOMContentLoaded", async () => {
		const scene = document.getElementById("scene");
		if (scene) {
			const parallaxInstance = new Parallax(scene, {
				relativeInput: true,
				clipRelativeInput: false,
				hoverOnly: false,
				// Añade estas opciones clave:
				calibrateX: false,
				calibrateY: false,
				invertX: false,
				invertY: false,
				limitX: false,
				limitY: false,
				frictionX: 0.1, // Aumenta para suavizar
				frictionY: 0.1, // Aumenta para suavizar
				originX: 0.3,
				originY: 0.5,
				scalarX: 10,
				scalarY: 3,
				pointerEvents: false,
			});

			const handleMobileView = () => {
				if (parallaxInstance.orientationSupport) {
					parallaxInstance.orientationSupport = false;
					parallaxInstance.motionSupport = false;
				}
			};

			const mediaQuery = window.matchMedia("(max-width: 1023px)");

			if (mediaQuery.matches) {
				handleMobileView();
			}

			mediaQuery.addEventListener("change", (e) => {
				if (e.matches) {
					handleMobileView();
				}
			});
		}
	});
</script>
